body {
    font-family: 'Roboto', sans-serif;
}

.container {
    background: #FFF;
    padding: 60px 114px 141px 80px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 67px;
}

.content {
    display: flex;
    align-items: center;
    gap: 51px;
}

.nav__ul {
    display: flex;
    gap: 20px;
    align-items: center;
}


.image {
    flex-shrink: 0;
    display: flex;
    position: relative;
    max-width: 504px;
    border: 5px solid black;
    border-radius: 0px 0px 0px 260px;

}

.image-backdrop {
    position: absolute;
    left: 22px;
    top: -12px;
    width: calc(100% - 10px);
    height: calc(100% - 49px);
    background: #000;
    border-radius: 0px 0px 0px 260px;

}

.image img {
    border-radius: 0px 0px 0px 255px;
    z-index: 2;
}


.title {
    color: #000;
    font-size: 87px;
    font-weight: 700;
    line-height: 90px;
    max-width: 801px;
    margin-bottom: 40px;
}

.desc {
    color: #6B6868;
    font-size: 29px;
    font-weight: 500;
    line-height: 45px;
    margin-bottom: 52px;
}

.buttons {
    display: inline-flex;
    gap: 38px;
    align-items: center;
}

.nav__a {
    color: #000;
    font-size: 30px;
    font-weight: 700;
}

.btn {
    display: inline-block;
    cursor: pointer;
    outline: 0;
    padding: 30px 50px;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    line-height: 24px;
    border: 2px solid transparent;
}

.btn-primary {
    color: #000;
    border-color: #000;
}

.btn-secondary {
    color: #FFF;
    border-color: #000;
    background: #000;
}